@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050706;
    color: #F5F7F6;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #050706;
}

::-webkit-scrollbar-thumb {
  background: #16281F;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00D084;
}
